# Keyword Arguments

In [6]:
def print_emp(fn,ln):
    print(f'First Name: {fn}')
    print(f'Last Name: {ln}')

In [7]:
print_emp('Yann','Lecun')

First Name: Yann
Last Name: Lecun

In [8]:
print_emp('Lecun','Yann')

First Name: Lecun
Last Name: Yann

In [9]:
print_emp(fn ='Yann', ln ='Lecun')

First Name: Yann
Last Name: Lecun

In [10]:
print_emp(fn ='Yann', ln ='Lecun', salary = 600000)

TypeError: print_emp() got an unexpected keyword argument 'salary'

In [11]:
def print_emp(fn,ln,**kwargs): # There is only two arguments
    print(f'First Name: {fn}')
    print(f'Last Name: {ln}')
    for i in kwargs:
        print(f'{i} : {kwargs[i]}')

In [12]:
print_emp(fn ='Yann', ln ='Lecun', salary = 60000 , monthly = 5000 )

First Name: Yann
Last Name: Lecun
salary : 60000
monthly : 5000

In [13]:
def print_emp(fn,ln,**kwargs): # There is only two arguments
    print(f'First Name: {fn}')
    print(f'Last Name: {ln}')
    for key in kwargs:
        print(f'{key} : {kwargs[key]}')

In [14]:
print_emp(fn ='Yann', ln ='Lecun', salary = 60000 , monthly = 5000, age = 30)

First Name: Yann
Last Name: Lecun
salary : 60000
monthly : 5000
age : 30

In [15]:
v = print_emp(fn ='Yann', ln ='Lecun', salary = 60000 , monthly = 5000, age = 30)

First Name: Yann
Last Name: Lecun
salary : 60000
monthly : 5000
age : 30

# Lambda Expression
### it will return a value

In [16]:
def comp(a,b):
    return a>b

In [17]:
comp(12,5)

True

In [18]:
f = comp

In [19]:
f(12,5)

True

In [20]:
(lambda a,b: a > b)(12,5)

True

In [21]:
comp1 =lambda a,b: a > b

In [22]:
comp1(12,5)

True

# Sorting

In [29]:
from Sorting import get_max , bubble_sort

In [30]:
a = [('Rama',20,18000),('sama',22,21000),('gama',27,19000)]

In [31]:
def comp(e1,e2):
    return e1[2] > e2[2]

In [32]:
get_max(a,comp)

('sama', 22, 21000)

In [33]:
get_max(a, lambda e1, e2 : e1[1] > e2[1])

('gama', 27, 19000)

In [34]:
bubble_sort(a,comp)

[('Rama', 20, 18000), ('gama', 27, 19000), ('sama', 22, 21000)]

In [35]:
bubble_sort(a, lambda e1, e2 : e1[1] > e2[1])

[('Rama', 20, 18000), ('sama', 22, 21000), ('gama', 27, 19000)]