In [14]:
a =[[12,5,7,13],[6,9,15,2],[1,2,3,4]]

In [15]:
b = [[12,6,1],[5,9,2],[7,15,3],[13,2,4]]

In [16]:
b = [[x[i] for x in a] for i in range(len(a[0]))]

In [17]:
b

[[12, 6, 1], [5, 9, 2], [7, 15, 3], [13, 2, 4]]

# Tuples

In [34]:
a = 5,7,8,9

In [35]:
a

(5, 7, 8, 9)

In [36]:
type(a)

tuple

In [37]:
a,p = 12,5

In [38]:
a,p

(12, 5)

In [39]:
type(a)

int

In [40]:
p = 10

In [41]:
a,p

(12, 10)

In [42]:
a,p
p,a # Swaping Numbers

(10, 12)

# SET
### it does not supports indexing but it allows to add any number as well
### set of tuple is always possible and it is iterable

In [83]:
a = {12,5,12,7,13,5} #set

In [84]:
len(a)

4

In [85]:
a.add(6)

In [86]:
a

{5, 6, 7, 12, 13}

In [87]:
a.add(11.5)
print(a)

{5, 6, 7, 11.5, 12, 13}

In [88]:
a.add("Ram")

In [89]:
a

{11.5, 12, 13, 5, 6, 7, 'Ram'}

In [90]:
a.add((12,3,4))

In [91]:
a

{(12, 3, 4), 11.5, 12, 13, 5, 6, 7, 'Ram'}

In [92]:
h = {12,7,13,6}
n = {7,13,15,2,1}

In [93]:
h.union(n)

{1, 2, 6, 7, 12, 13, 15}

In [94]:
h.intersection(n)

{7, 13}

In [95]:
h.difference(n)

{6, 12}

In [97]:
h - n

{6, 12}

# SET comprenhension

In [100]:
s = {x*x for x in range(-5,5)}

In [101]:
s

{0, 1, 4, 9, 16, 25}

In [102]:
o = {'Mamata': 12,'Buddha': 10, 'Modi': 18}

In [103]:
o['Modi']

18

In [104]:
o['Kejriwal'] = 24

In [105]:
o

{'Mamata': 12, 'Buddha': 10, 'Modi': 18, 'Kejriwal': 24}

In [128]:
for i in o:
    print(f"{i} gets the marks {o[i]}")

Mamata gets the marks 12
Buddha gets the marks 10
Modi gets the marks 18
Kejriwal gets the marks 24

In [129]:
u = {('KSI','Pewdiepie'): [12,5,7] , ('Carry','Bong'): [13,6,9] , ('Sam','James'): [12,5,7]}

In [130]:
u

{('KSI', 'Pewdiepie'): [12, 5, 7],
 ('Carry', 'Bong'): [13, 6, 9],
 ('Sam', 'James'): [12, 5, 7]}

In [135]:
for i in u:
    print(f'{i[0]} gets the value {u[i][0]}')

KSI gets the value 12
Carry gets the value 13
Sam gets the value 12

In [150]:
for fn,ln in u:
    print(f'{fn},{ln} gets the values {u[fn,ln][0]}')

KSI,Pewdiepie gets the values 12
Carry,Bong gets the values 13
Sam,James gets the values 12