# Data Structure

### Range
### List
### tuple
### set
### dict

### Previous: indexing,slicing,immutability,hashble,iteriable

#  Data Structure(Python)
### Range

In [1]:
r = range(12,100,5)

In [2]:
type(r)

range

In [4]:
len(r) # Using 'len' in here

18

In [5]:
r[5]

37

In [7]:
r[2:7]

range(22, 47, 5)

In [9]:
r[2:7][1]

27

In [10]:
r[2:7][-1]

42

In [11]:
r[2:7][0]

22

### For loop in python works only with the iterable data structure

In [6]:
s = "python"
for x in s:
    print(x)

p
y
t
h
o
n

In [7]:
r1 = range(len(s))
for i in r1:
    print(s[i])

p
y
t
h
o
n

In [8]:
for i in range(len(s)):
    print(s[i])

p
y
t
h
o
n

In [11]:
for i in range(len(s)-1,-1,-1): # reverse range use -1 as commomn difference of rangr() and starting address should be last 
    print(s[i])                # and ending address should be first

n
o
h
t
y
p

#  List

In [117]:
a = ['RAM',12,'SAM',5,'JADU',7,'MADHU',13]

In [118]:
a[1] = 24
a

['RAM', 24, 'SAM', 5, 'JADU', 7, 'MADHU', 13]

In [119]:
a.append('Hari') # INSERTION at the end
a.append(6)
a

['RAM', 24, 'SAM', 5, 'JADU', 7, 'MADHU', 13, 'Hari', 6]

In [120]:
a.insert(4,'tom') # Insertion at any postion
a.insert(5,'15')
a

['RAM', 24, 'SAM', 5, 'tom', '15', 'JADU', 7, 'MADHU', 13, 'Hari', 6]

In [121]:
a.pop() # Deletion from the last from the list

6

In [122]:
a

['RAM', 24, 'SAM', 5, 'tom', '15', 'JADU', 7, 'MADHU', 13, 'Hari']

In [123]:
a.append(8)

In [124]:
a

['RAM', 24, 'SAM', 5, 'tom', '15', 'JADU', 7, 'MADHU', 13, 'Hari', 8]

In [125]:
a.pop(4)

'tom'

In [126]:
a.pop(4)

'15'

In [127]:
a

['RAM', 24, 'SAM', 5, 'JADU', 7, 'MADHU', 13, 'Hari', 8]

In [128]:
b = a + ['tom',15] # adding new elements in the list

In [129]:
b

['RAM', 24, 'SAM', 5, 'JADU', 7, 'MADHU', 13, 'Hari', 8, 'tom', 15]

In [130]:
a +=['Pari',19]
a

['RAM', 24, 'SAM', 5, 'JADU', 7, 'MADHU', 13, 'Hari', 8, 'Pari', 19]

In [131]:
hash(a)

TypeError: unhashable type: 'list'

In [132]:
for i in a:
    print(i)

RAM
24
SAM
5
JADU
7
MADHU
13
Hari
8
Pari
19

In [133]:
for j in range(0,len(a)-1,2):
    print(f'{a[j]} gets the value:{a[j+1]}')

RAM gets the value:24
SAM gets the value:5
JADU gets the value:7
MADHU gets the value:13
Hari gets the value:8
Pari gets the value:19

# List Comprehension:

In [134]:
a = [1,4,9,16,25,49,64,81,100]
a1 = [x*x for x in range(1,11)]
print(a1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [137]:
b = [12,-5,7,-13,6,-15]
b1 = [x for x in b if x>= 0]
print(b1)

[12, 7, 6]

In [145]:
b = [12,-5,7,-13,6,-15]
b1 = ['0' if x < 0 else x for x in b ]
print(b1)

[12, '0', 7, '0', 6, '0']

In [146]:
b = [12,-5,7,-13,6,-15]
b1 = [ 0 if x < 0 else x for x in b ]
print(b1)

[12, 0, 7, 0, 6, 0]

# [[0,0],[0,1],[0,2]........[0,9],[1,0],[1,1].....[1,9],...............[9,0],[9,1],....[9,9]]

In [153]:
b1 = [[i,j] for i in range(10) for j in range(10)]

In [154]:
b1

[[0, 0],
 [0, 1],
 [0, 2],
 [0, 3],
 [0, 4],
 [0, 5],
 [0, 6],
 [0, 7],
 [0, 8],
 [0, 9],
 [1, 0],
 [1, 1],
 [1, 2],
 [1, 3],
 [1, 4],
 [1, 5],
 [1, 6],
 [1, 7],
 [1, 8],
 [1, 9],
 [2, 0],
 [2, 1],
 [2, 2],
 [2, 3],
 [2, 4],
 [2, 5],
 [2, 6],
 [2, 7],
 [2, 8],
 [2, 9],
 [3, 0],
 [3, 1],
 [3, 2],
 [3, 3],
 [3, 4],
 [3, 5],
 [3, 6],
 [3, 7],
 [3, 8],
 [3, 9],
 [4, 0],
 [4, 1],
 [4, 2],
 [4, 3],
 [4, 4],
 [4, 5],
 [4, 6],
 [4, 7],
 [4, 8],
 [4, 9],
 [5, 0],
 [5, 1],
 [5, 2],
 [5, 3],
 [5, 4],
 [5, 5],
 [5, 6],
 [5, 7],
 [5, 8],
 [5, 9],
 [6, 0],
 [6, 1],
 [6, 2],
 [6, 3],
 [6, 4],
 [6, 5],
 [6, 6],
 [6, 7],
 [6, 8],
 [6, 9],
 [7, 0],
 [7, 1],
 [7, 2],
 [7, 3],
 [7, 4],
 [7, 5],
 [7, 6],
 [7, 7],
 [7, 8],
 [7, 9],
 [8, 0],
 [8, 1],
 [8, 2],
 [8, 3],
 [8, 4],
 [8, 5],
 [8, 6],
 [8, 7],
 [8, 8],
 [8, 9],
 [9, 0],
 [9, 1],
 [9, 2],
 [9, 3],
 [9, 4],
 [9, 5],
 [9, 6],
 [9, 7],
 [9, 8],
 [9, 9]]

In [155]:
b1 = [[i,j] for i in range(10) for j in range(10) if i!=j] # eliminating similar num

In [156]:
b1

[[0, 1],
 [0, 2],
 [0, 3],
 [0, 4],
 [0, 5],
 [0, 6],
 [0, 7],
 [0, 8],
 [0, 9],
 [1, 0],
 [1, 2],
 [1, 3],
 [1, 4],
 [1, 5],
 [1, 6],
 [1, 7],
 [1, 8],
 [1, 9],
 [2, 0],
 [2, 1],
 [2, 3],
 [2, 4],
 [2, 5],
 [2, 6],
 [2, 7],
 [2, 8],
 [2, 9],
 [3, 0],
 [3, 1],
 [3, 2],
 [3, 4],
 [3, 5],
 [3, 6],
 [3, 7],
 [3, 8],
 [3, 9],
 [4, 0],
 [4, 1],
 [4, 2],
 [4, 3],
 [4, 5],
 [4, 6],
 [4, 7],
 [4, 8],
 [4, 9],
 [5, 0],
 [5, 1],
 [5, 2],
 [5, 3],
 [5, 4],
 [5, 6],
 [5, 7],
 [5, 8],
 [5, 9],
 [6, 0],
 [6, 1],
 [6, 2],
 [6, 3],
 [6, 4],
 [6, 5],
 [6, 7],
 [6, 8],
 [6, 9],
 [7, 0],
 [7, 1],
 [7, 2],
 [7, 3],
 [7, 4],
 [7, 5],
 [7, 6],
 [7, 8],
 [7, 9],
 [8, 0],
 [8, 1],
 [8, 2],
 [8, 3],
 [8, 4],
 [8, 5],
 [8, 6],
 [8, 7],
 [8, 9],
 [9, 0],
 [9, 1],
 [9, 2],
 [9, 3],
 [9, 4],
 [9, 5],
 [9, 6],
 [9, 7],
 [9, 8]]

In [157]:
from math import pi

In [158]:
pi

3.141592653589793

In [159]:
string = str(pi)
string

'3.141592653589793'

In [166]:
a1 = [float(string[:x]) for x in range(3,len(string)+1)]

In [167]:
a1

[3.1,
 3.14,
 3.141,
 3.1415,
 3.14159,
 3.141592,
 3.1415926,
 3.14159265,
 3.141592653,
 3.1415926535,
 3.14159265358,
 3.141592653589,
 3.1415926535897,
 3.14159265358979,
 3.141592653589793]

In [168]:
d =[[12,5,7,13],[6,9,15,2],[1,2,3,4]]

In [169]:
d[1]

[6, 9, 15, 2]

In [ ]:
d1 = [[12,6,1],[5,9,2],[7,15,3],[13,2,4]]